<form action="/message/create" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title" placeholder="Title" type="text" />
  <label for="content">Message</label>
  <input id="content" name="content" placeholder="Message" type="textarea" />
  <button>Send</button>
</form>
