<form action="/create-message" method="POST">
  <label for="title">Title</label>
  <input id="title" name="title" placeholder="Title" type="text">
  <label for="message">Message</label>
  <input id="message" name="message" placeholder="Message" type="textarea">
  <button>Send</button>
</form>